.section,
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section {
  background: #b9cbd9;
  background: linear-gradient(45deg, #60b2e5 0%, rgba(250, 249, 246, 1) 100%);
  width: 100%;
  font-family: var(--main-font);
  color: var(--color-grey-second);
}

.container {
  margin-bottom: 5rem;
  gap: 1rem;
}

.headerImage {
  position: relative;
  width: 120px;
  height: 120px;
}

.headerImage img {
  object-fit: contain;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-grey-second);
}

.subHeading {
  font-size: 24px;
}
.email {
  font-size: 16px;
}
.phone {
  font-size: 16px;
}

.email,
.phone {
  color: var(--color-grey-second);
  display: inline-block;
  transform: scale(1);
  transition: color 1s ease, transform 250ms ease;
}

.email:hover,
.phone:hover {
  color: var(--color-black);
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .headerImage {
    position: relative;
    width: 200px;
    height: 200px;
  }

  .heading {
    font-size: 38px;
  }

  .subHeading {
    font-size: 28px;
  }

  .email,
  .phone {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .headerImage {
    position: relative;
    width: 250px;
    height: 250px;
  }
  .section {
    gap: 0.5rem;
  }

  .heading {
    font-size: 52px;
  }

  .subHeading {
    font-size: 38px;
    margin-bottom: 1rem;
  }

  .email,
  .phone {
    font-size: 36px;
  }
}
